body {
  background-color: lightblue;
}

.board {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, min-content);
}

.tile {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  width: 50px;
}

#gameboards {
  display: flex;
  justify-content: space-evenly;
}

#player-area,
#computer-area {
  display: grid;
  text-align: center;
}

.hit {
  background-color: green;
}

.miss {
  background-color: red;
}

.computer-miss {
  background-color: gray;
}

.computer-hit {
  background-color: red;
}

#messages {
  border: 1px solid black;
  height: fit-content;
  margin: 10px;
  text-align: center;
  width: fit-content;
  justify-self: center;
  font-size: 1.5rem;
  padding: 10px;
  background-color: gainsboro;
}
